mat-nav-list.search-list {
  padding-top: 0px;
  height: 91vh;
  overflow: auto;
}

img {
  margin-right: 3px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

mat-form-field {
  width: 100%;
}

mat-list-item {
  background: lightslategray;
}

mat-list {
  padding-top: 0px;
}

