<mat-form-field appearance="fill" color="accent">
  <mat-label>Search</mat-label>
  <input #searchInput matInput [ngModel]="input" (ngModelChange)="searchPokemonInList($event)">
</mat-form-field>
<mat-nav-list class="search-list" infiniteScroll
              (scrolled)="onScroll()"
              [scrollWindow]="false">
  <mat-list>
    <mat-list-item *ngFor="let pokemon of pokemons">
      <a matLine (click)="sendPokemonId(pokemon.id)">
        <img matListAvatar src="../assets/img/sprites/{{pokemon.id}}.png">
        <span class="info">{{ pokemon.id }}. {{ pokemon.name }}</span>
      </a>
    </mat-list-item>
  </mat-list>
</mat-nav-list>
