<mat-grid-list cols="2" rowHeight="300px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div>
      <img mat-card-image src="assets/img/official-artwork/{{ pokemon.id }}.png">
      <p style="text-align: center">No. {{ pokemon.id }}</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div>
      <span>
        <p>{{ pokemon.name }}</p>
      </span>
      <span>
        <mat-icon (click)="pokemonCri.play()">play_circle_outline</mat-icon>
      </span>
        <audio #pokemonCri src="assets/audio/{{ pokemon.id }}.mp3"></audio>
    <mat-chip-list ariaLabel="Fish Selection">
      <mat-list class="inline-list">
        <mat-list-item *ngFor="let type of pokemon.types">
          <mat-chip>{{ type }}</mat-chip>
        </mat-list-item>
      </mat-list>
    </mat-chip-list>
    <p>Taille : {{ pokemon.height }} m</p>
    <p>Poids : {{ pokemon.weight }} kg</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2">
    <p>{{ pokemon.description }}</p>
  </mat-grid-tile>
</mat-grid-list>

<button class="backToPokedex" (click)="goBack()">Pokedex</button>
